@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*>*{
  border-style: solid;
  border-width: 1px;
  border-color: red;
} */

.pushed {
  margin-top:80px /* height of your category navbar */;
  background-color: blue;
}


